.section.contacts-container {
  background-color: #f4f7f8;
}

.contacts.block {
    max-width: 650px;
    margin: 0 auto;
    padding: 80px 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0;
    row-gap: 2.5rem;
}

.contact {
  text-align: center;
  line-height: 1.4;
}

.contact-name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}

.contact-title {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.contact-email > p {
  margin-top: 0;
  font-size: 14px;
}

.contact-email a,
.contact-email p {
  color: #0064a8;
  text-decoration: none;
}

.contact-email a:hover,
.contact-email p:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contacts.block {
    padding: 48px 16px;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
